.header{
    min-height: 100vh;
    background-color: var(--back-color);
    // width: 100%;
    .wrapper{
        .navigation{
            height: 7.6rem;
            border-bottom: 1px solid #f8e0fb ;
            .container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header__menu{
                    &--list{
                        display: flex;
                        align-items: center;
                        .menu--item{
                            gap: 8px;
                            padding: 1.2rem;
                            a{
                                font-family: 'Space Grotesk', sans-serif;
                                font-size: 1.6rem;
                                font-weight: 500;
                                line-height: 2rem;
                                color: var(--black-color);
                                transition: 0.3s ease-in-out;
                            }
                            a:hover{
                                color: var(--secondary-color);
                            }
                        }
                    }
                }
                .header__logo{
                    display: flex;
                    align-items: center;
                    .header--logo{
                        width: 5rem;
                        height: 5rem;
                    }
                }
                .header__links{
                    .link--list{
                        display: flex;
                        align-items: center;
                        .link--item{
                            gap: 8px;
                            padding: 1.2rem;
                            a{
                                font-family: 'Space Grotesk', sans-serif;
                                font-size: 1.6rem;
                                font-weight: 500;
                                line-height: 2rem;
                                color: var(--black-color);
                                transition: 0.3s ease-in-out;

                            }
                            a:hover{
                                color: var(--secondary-color);
                            }
                        }
                    }
                }
            }
        }
        .hero{
            display: flex;
            align-items: center;
            position: relative;
            .img--left{
                flex: 1;
                img:first-of-type{
                    width: 17.3rem;
                    height: 17.4rem;
                }
                img:last-of-type{
                    opacity: 0.2;
                }
            }
            .hero--content{
                flex: 3;
                h1{
                    max-width: 75.6rem;
                    margin: 0 auto;
                    margin-bottom: 3.2rem;
                    // text-shadow: -5px 5px 0px 0px var(--accent-color);

                }
                p{
                    width: 76rem;
                    margin: 0 auto;
                    text-align:center;
                    margin-bottom: 3.2rem;
                }
                button{
                    position: absolute;
                    top: 90%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .img--right{
                flex: 1;
                img:first-of-type{
                    opacity: 0.2;
                    width: 11.1rem;
                    height: 11.2rem;
                }
            }
        }
        .logo{
            height: 12rem;
            margin: 4rem 0;
            .logo--links{
                display: flex;
                align-items: center;
                justify-content: center;
                .logo--item{
                    margin: 0 2rem;
                    a{
                        font-size: 2.4rem;
                        font-weight: 500;
                        line-height: 3.2rem;
                        

                        i{
                            font-size: 4rem;
                            margin-right: 1rem;
                            color: var(--accent-color);
                        }
                    }
                }
                
            }
        }
    }
}
.features{
    .wrapper{
        .feat__content{
            .container{
                h2{
                    margin-bottom: 1.8rem;
                }
                p{
                    max-width: 82rem;
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 6.4rem;
                }
                .feat--line{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    column-gap: 3.2rem;
                    row-gap: 6.4rem;
                    img{
                        border-radius: 3rem;
                        
                    }
                    
                    .feat--textBlock{
                        h2{
                            font-family: Syne;
                            font-size: 32px;
                            font-weight: 600;
                            line-height: 42px;
                            letter-spacing: 0px;
                            text-align: center;

                        }
                        p{
                            font-family: Space Grotesk;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0px;
                            text-align: center;

                        }
                    }
                }
            }
        }
    }
}
.component{
    .wrapper{
        .component__team{
            padding: 8rem 7rem;
            .container{
                h2{
                    margin-bottom: 5.2rem;
                }
                p.text-small{
                    max-width: 85.6rem;
                    margin: 0 auto;
                    margin-bottom: 8rem;
                    text-align: center;
                }
                .component--parent{
                    .parent--list{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .parent--item{
                            text-align: center;
                            img{
                                height: 8rem;
                                width: 8rem;
                                border-radius: 50%;
                                margin-bottom: 1.2rem;
                            }
                            .paren--nickname{
                                font-family: Space Grotesk;
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 32px;
                                letter-spacing: 0px;
                                text-align: center;
                                margin-bottom: 1.2rem;
                            }
                        }
                    }
                }
                
            }
        }
        .component__provide{
            .container{
                h2{
                    margin-bottom: 2.4rem;
                }
                p{
                    max-width: 63.4rem;
                    margin: 0 auto;
                    margin-bottom: 4rem;
                    text-align: center;
                }
                .component--grid{
                    .grid--list{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .grid--item{
                            text-align: center;
                            padding: 1.6rem;
                            border-radius: 1.6rem;
                            i{
                                font-size: 4.8rem;
                                height: 4.8rem;
                                width: 4.8rem;
                                color: var(--secondary-color);
                                margin-bottom: 1.2rem;
                            }
                            h4{
                                margin-bottom: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.testtimonials{
    .wrapper{
        .test-content{
            .container{
                h2{
                    margin-bottom: 8rem;
                }
                .test--grid{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    gap: 2.4rem;
                    .test--item{
                        border-radius: 1rem;
                        padding: 2.4rem;
                        border: 1px solid #D6BCFA;
                        .test--name{
                            display: flex;
                            margin-bottom: 1.6rem;
                            align-items: center;
                            img{
                                height: 4.8rem;
                                width: 4.8rem;
                                border-radius: 50%;
                                margin-right: 1rem;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
.FAQ{
    .wrapper{
        .faq--content{
            padding: 8rem 7rem 3.4rem 7rem;
            display: grid;
            grid-template-columns: 38% 62%;
            gap: 3.2rem;
            .faq--fre{
                h2{
                    text-align: left;
                    margin-bottom: 2.4rem;
                }
                
            }
            .faq--cards{
                .faq--list{
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 2.4rem;
                    .faq--item{
                        padding: 2.4rem;
                        border-radius: 1.5rem;
                        border: 1px solid #D6BCFA;
                        display: flex;
                        p{
                            margin-right: 3.2rem;
                        }
                        i{
                            color: #728095;
                        }
                    }
                }
            }
        }
    }
}
.CTA{
    .wrapper{
        .cta--content{
            .container{
                display: grid;
                grid-template-columns: 25% 50% 25%;
                align-items: center;
                border: 1px solid #D6BCFA;
                box-shadow: 0px 0px 50px 0px #F8E0FA inset;
                border-radius: 6rem;
                position: relative;
                margin: 8rem 7rem;
                .img--left{
                    img{
                        height: 44.6rem;
                    }
                }
                .hero--content{
                    h4{
                        margin-bottom: 1.6rem;
                    }
                    p{
                        margin-bottom: 3.2rem;
                        text-align: center;
                    }
                    button{
                        position: absolute;
                        top: 75%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .img--right{
                    height: 44.6rem;

                }
            }
        }
    }
}
.footer{
    .wrapper{
        .footer--content{
            .container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 7rem;
                padding-bottom: 4rem;
                border-bottom: 1px solid #728095;
                margin-bottom: 4rem;
                .footer--links{
                    display: flex;
                    align-items: center;
                    .footer--item{
                        margin: 0 1.2rem;
                        a{
                            color: #728095;
                        }
                    }
                }
                .footer--logo{
                    display: flex;
                    align-items: center;
                    img{
                        height: 4rem;
                        width: 4rem;
                        margin-right: 1rem;
                    }
                }
            }
            p.text{

                text-align: center;
                color: #728095;
                margin-bottom: 4rem;
            }
        }
        
    }
}
.toggleMenu{
    display: none;
}
@media screen and (max-width: 820px) {
    .header{
        height: 50vh;
        .wrapper{
            .navigation{
            
                .container{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100vh;
                }
            }
            .hero{
                width: 100vh;

            }
            .logo{
                width: 100vh;
                margin-bottom: 4rem;
                .logo--links{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    gap: 2.4rem;
                    .logo--item{
                        margin: 1.2rem;
                    }
                }
            }
        }
    }
    .toggleMenu{
        display: none;
    }
    .features{
        width: 100vh;
        margin-top: -50rem;
        .wrapper{
            .feat__content{
                .container{
                    h2{
                        margin-bottom: 1.6rem;
                    }
                }
            }
        }
    }
    .component{
        width: 100vh;
        .component__provide{
            .container{
                .component--grid{
                    .grid--list{
                        display: grid;
                        grid-template-columns: auto auto;
                    }
                }
            }
        }
    }
    .testtimonials{
        width: 100vh;
    }
    .FAQ{
        width: 100vh;
    }
    .CTA{
        width: 100vh;
    }
    .footer{
        width: 100vh;
    }
}